/* HTML Tag Reset */
body { font-family: Georgia, serif; font-size: 13px; }
a { font-weight: bold; color: #0B486B; text-decoration: none; }
a:hover { color: #3B8686; text-decoration: underline; }

/* Standard Class */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.hide {	text-indent: -9999px; position: absolute; }

/* Site Structure */
#wrap { width: 960px; margin: 50px auto auto; }
#header { background: #79BD9A; height: 30px; margin-bottom: 50px; padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#content { width: 600px; }
#aside { width: 300px; }
#footer { line-height: 20px; margin-top: 20px; padding: 5px 0 20px; border-top: 1px solid #79BD9A; }

/* Site Branding @ Header */
#branding a { background: url(images/logo-1.png) no-repeat -2px 0; display: block; text-indent: -9999px; height: 74px; width: 300px; margin-top: -22px; }

/* Site Navigation @ Header */
#navigation { font-family: 'Lucida Sans', serif; font-size: 12px; line-height: 30px; }
#navigation li { float: left; margin-left: 5px; }
#navigation a { font-weight: bold; color: #FFFFFF; display: block; padding: 0 10px; }
#navigation a:hover, #navigation li.current_page_item a { text-decoration: none; background: #387455; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Site Aside */
#aside .widget { margin-bottom: 20px; }
#aside .widget h2 { font-size: 20px; font-weight: 500; margin-bottom: 10px; padding-bottom: 4px; border-bottom: 1px solid #0B486B; }

/* Program Agenda @ Sidebar */
#agenda.widget .info { background: #CFF09E; display: block; width: 290px; margin-bottom: 10px; padding: 5px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#agenda.widget .info h3 { font-size: 18px; font-weight: 500; margin: 0; padding: 0; border: none; }
#agenda.widget .info span { line-height: 20px; display: block; }
#agenda.widget a.info#registration { font-weight: bold; color: #000000; }
#agenda.widget a.info#registration :hover { text-decoration: none; color: #FFFFFF; background: #387455; }

/* Program Sponsors @ Sidebar */
#sponsors li { margin-bottom: 10px; }
#sponsors li img { border: 3px solid #CCCCCC; }

/* Site Footer */
#footer span { display: block; }

/* Site Home Page */
#content.home .widget { margin-bottom: 20px; }
#content.home .widget.left, #content.home .widget.right { width: 290px; }
#content.home .widget h2 { font-size: 24px; font-weight: 500; margin-bottom: 10px; }
#content.home .widget h3 { font-size: 14px; font-weight: 500; }
#content.home .widget p { line-height: 20px; margin-bottom: 20px; }
#content.home .widget span { font-size: 11px; color: #999999; line-height: 20px; display: block; }

/* Quote Widget @ Home */
#content.home #quote.widget p { font-size: 30px; line-height: 36px; color: #0B486B; display: block; margin-bottom: 20px; }
#quote.widget span.cite { font-size: 14px; color: #999999; margin-top: -40px; }

/* News Widget @ Home */
#news.widget .more { font-size: 11px; margin-top: -24px; }
#news.widget .meta { margin-bottom: 5px; }
#news.widget p { font-size: 12px; line-height: 20px; margin-bottom: 20px; }

/* Buzz Widget @ Home */
#buzz.widget ul { margin-bottom: 15px; }
#buzz.widget li { margin-bottom: 5px; padding-left: 20px; }
#buzz.widget li#buzz-link-1 { background: url(images/twitter.png) 0 7px no-repeat; }
#buzz.widget li#buzz-link-5 { background: url(images/flickr.png) 0 7px no-repeat; }
#buzz.widget li#buzz-link-3 { background: url(images/technorati.png) 0 7px no-repeat; }
#buzz.widget li#buzz-link-6 { background: url(images/tweets.png) 0 7px no-repeat; }

/* Page Global */
#content h1.page_title { font-size: 24px; font-weight: 500; }
#content p.description { font-size: 11px; line-height: 20px; color: #999999; margin-bottom: 10px; }
#content .home { font-size: 11px; line-height: 20px; background: url(images/house.png) right center no-repeat; margin-top: -50px; padding-right: 20px; }

/* News Page */
#content.news p.description { margin-bottom: 20px; }
#content.news .home { margin-top: -60px; }
.post.entry { margin-bottom: 20px; }
.post.entry h2 { font-size: 20px; }
.post.entry .meta { font-size: 11px; line-height: 20px; }
.post.entry .meta.date.author { color: #999999; margin-bottom: 10px; }

/* Singe Page */
#content.single .post.entry .meta.date.author { color: #999999; margin-bottom: 10px; }

/* Static Page */
.post.page h1 { color: #0B486B; }

/* Entry Text */
.text p { line-height: 20px; margin-bottom: 20px; }
.text ul { list-style-type: disc; margin-bottom: 0 0 30px 20px; }
.text li { line-height: 20px; }
.text blockquote { line-height: 20px; background-color: #E4F0BE;  margin: 0 20px 20px; padding: 10px; }
.text iframe { margin-bottom: 20px; }
.text h3, .text h2 { font-size: 14px; font-weight: bold; margin-bottom: 10px; }